spring:
  http:
    encoding:
      charset: UTF-8
  datasource:
    driverClassName: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://47.107.108.67:3306/smartdesklamp?useUnicode=true&characterEncoding=utf8&useTimezone=true&serverTimezone=GMT%2B8
    username: root
    password: sunwang1
  redis:
    database: 0
    host: 47.107.108.67
    port: 6379
    password:
    jedis:
      pool:
        max-active: 8
        max-wait: -1s
        min-idle: 0
        max-idle: 8
    timeout: 5s

  # 邮箱服务
  mail:
    host: smtp.qq.com
    username: 807920489@qq.com
    password: nongkygajkbibfji
    port: 25
  session:
    store-type: redis
#logging:
#  config: classpath:log4j2.yml

#设置不被拦截的uri
my:
  config:
    excludeuri:
      - /login
      - /register
      - /getcode
      - /error
      - /alterorganization
server:
  port: 9095
#